body {
    cursor:crosshair;
}
canvas {
    background-size:contain;
    background-repeat:repeat;
    background-image:url('space.png');
}
/*
    Background Image is sourced from https://screamingbrainstudios.itch.io/seamless-space-backgrounds
*/