body {
    cursor:crosshair;
}
canvas {
    background-position-y: 0px;
    background-size: cover;
    background-image:url('space.png');
}
/*
    Background Image is sourced from https://screamingbrainstudios.itch.io/seamless-space-backgrounds
*/