@font-face {
  font-family: "oldms";
  src: url("/ms-sans-sf.ttf");
}
* {
  font-family: oldms;
  color:white;
}
body{
  background-color:black;
}
ul{
  list-style-type:disc;
}
input {
  color:black
}